<footer class="footer">
  <h2 class="title title--color">- get in touch with us -</h2>
  <p class="footer__text">
    Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
    sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor
    vollisky inceptos mollisestor.
  </p>
  <div class="networks">
    <a href="#!" class="icon-wrapper">
      <img src="@img/icons/RSS.png" alt="network" class="icon" />
    </a>
    <a href="#!" class="icon-wrapper">
      <img src="@img/icons/Facebook.png" alt="network" class="icon" />
    </a>
    <a href="#!" class="icon-wrapper">
      <img src="@img/icons/Twitter.png" alt="network" class="icon" />
    </a>
    <a href="#!" class="icon-wrapper">
      <img src="@img/icons/Dribbble.png" alt="network" class="icon" />
    </a>
    <a href="#!" class="icon-wrapper">
      <img src="@img/icons/Pinterest.png" alt="network" class="icon" />
    </a>
  </div>
  <p class="footer__text text--padding">
    Moonshine St. 14-05 Light City /
    <a href="tel:+001234567890">T. +00 (123) 456 78 90</a> /
    <a href="mailto:first.last@email.com" class="email">first.last@email.com</a>
  </p>
</footer>
