<header class="header">
  <nav class="nav">
    <ul class="list">
      <li class="list__item"><a href="#!" class="link">Home</a></li>
      <li class="list__item"><a href="#!" class="link">About Us</a></li>
      <li class="list__item"><a href="#!" class="link">Our Journal</a></li>
      <li class="list__item"><a href="#!" class="link">Projects</a></li>
      <li class="list__item"><a href="#!" class="link">news</a></li>
      <li class="list__item"><a href="#!" class="link">features</a></li>
      <li class="list__item"><a href="#!" class="link">contact</a></li>
    </ul>
  </nav>
  <div class="button-menu">
    <div class="button-menu__line first-line"></div>
    <div class="button-menu__line second-line"></div>
    <div class="button-menu__line third-line"></div>
  </div>
</header>
