<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.min.css" />
  <script defer src="js/app.min.js"></script>
  <title>HW2_npm</title>
</head>
