<section class="instagram">
  <div class="title-wrapper">
    <h2 class="title">- Latest Instagram Shots</h2>
    <a href="https://www.instagram.com/" class="instagram__link"
      >go to our instagram page -</a
    >
  </div>
  <div class="instagram__images">
    <div class="image-wrapper">
      <img src="@img/instagam/post_1.jpg" alt="image" class="image" />
    </div>
    <div class="image-wrapper">
      <img src="@img/instagam/post_2.jpg" alt="image" class="image" />
    </div>
    <div class="image-wrapper">
      <img src="@img/instagam/post_3.jpg" alt="image" class="image" />
    </div>
    <div class="image-wrapper">
      <img src="@img/instagam/post_4.jpg" alt="image" class="image" />
    </div>
  </div>
</section>
