* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.header {
  width: 100%;
  max-width: 1170px;
  padding: 0 178px;
  position: relative;
}

.nav .list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav .list__item .link {
  width: 100%;
  font-weight: 400;
  color: #4e4e4e;
  text-transform: uppercase;
  padding: 17px 0;
  line-height: 22px;
  font-size: 11px;
}

.nav .list__item .link:hover {
  color: #57a4a4;
}

.button-menu {
  position: absolute;
  width: 44px;
  height: 37px;
  background-color: #000000;
  bottom: 0;
  right: 28px;
  padding: 13.5px 0;
  display: none;
  cursor: pointer;
}

.button-menu__line {
  width: 17px;
  border-top: 2px solid #fefefe;
}

.show {
  display: block;
}

.poster {
  padding-top: 34px;
  width: 100%;
  max-width: 1170px;
}

.poster img {
  width: 100%;
}

.posts {
  padding: 69px 0;
  width: 100%;
  max-width: 1170px;
}

.posts .grid {
  width: 100%;
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  -moz-column-gap: 55px;
       column-gap: 55px;
}

.posts .grid__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 21px;
}

.posts .grid__item .description__title {
  line-height: 30px;
  text-transform: none;
}

.posts .grid__item .description__link {
  margin-top: 1px;
  font-weight: 400;
  font-size: 12px;
  color: #7c7c7c;
  line-height: 20px;
}

.posts .grid__item .description__text {
  margin-top: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  color: #4e4e4e;
  font-size: 16px;
  line-height: 22px;
}

.instagram {
  background-color: rgba(0, 0, 0, 0.03);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 47px 0 49px;
}

.instagram .title-wrapper {
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.instagram .title-wrapper .instagram__link {
  line-height: 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: #4e4e4e;
}

.instagram__images {
  width: 100%;
  max-width: 1170px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.instagram__images .image-wrapper img {
  width: 100%;
}

.footer {
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 66px 0 70px;
}

.footer .title--color {
  color: #fefefe;
}

.footer__text {
  width: 100%;
  max-width: 684px;
  text-align: center;
  margin-top: 22px;
  color: #b9b9b9;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}

.footer .networks {
  margin-top: 37px;
  width: 192px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .text--padding {
  margin-top: 34px;
}

.container {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 29px;
}

.container .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 1199px) {
  .poster {
    padding: 28px 92px 0 80px;
  }

  .posts {
    padding: 59px 275px 60px 80px;
  }

  .posts .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .instagram {
    padding: 47px 92px 50px 80px;
  }

  .instagram__images {
    margin-top: 35px;
  }

  .instagram__images .image-wrapper:last-child {
    display: none;
  }

  .footer {
    padding: 57px 0 56px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 23px 28px 0 25px;
  }

  .nav {
    position: absolute;
    top: 23px;
    right: 28px;
    width: 182px;
    background-color: #f5f5f5;
    display: none;
  }

  .nav .list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav .list__item {
    width: 100%;
  }

  .nav .list__item .link {
    width: 100%;
    display: block;
    padding: 4.5px 0 4.5px 13px;
  }

  .nav .list__item:hover {
    background-color: #e5e5e5;
  }

  .button-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .poster {
    padding: 23px 28px 0 25px;
  }

  .posts {
    padding: 42px 116px 43px 25px;
  }

  .posts .title {
    font-size: 14px;
  }

  .posts .grid__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 11px;
  }

  .posts .grid__item .description__text {
    display: none;
  }

  .posts .grid__item .description__title {
    font-size: 14px;
  }

  .posts .grid__item .description__link {
    font-size: 11px;
  }

  .instagram {
    padding: 38px 47px 42px 25px;
  }

  .instagram .title {
    font-size: 14px;
  }

  .instagram__link {
    display: none;
  }

  .instagram__images {
    margin-top: 13px;
    justify-content: center;
  }

  .instagram__images .image-wrapper:not(:first-child) {
    display: none;
  }

  .footer {
    padding: 38px 35px 47px;
  }

  .footer__text {
    margin-top: 8px;
  }

  .footer .networks {
    margin-top: 26px;
  }

  .footer .text--padding {
    margin-top: 25px;
  }

  .container {
    padding-top: 23px;
  }
}