.footer {
  background-color: #000000;
  width: 100%;
  @include flex(column, flex-start, center);
  padding: 66px 0 70px;
  .title--color {
    color: $footer-title-color;
  }
  &__text {
    width: 100%;
    max-width: 684px;
    text-align: center;
    margin-top: 22px;
    color: $footer-text-color;
    line-height: 28px;
    font-weight: 400;
    font-size: $xl-font-size;
  }
  .networks {
    margin-top: 37px;
    width: 192px;
    @include flex(row, space-between, center);
  }
  .text--padding {
    margin-top: 34px;
  }
}

@media (max-width: 1199px) {
  .footer {
    padding: 57px 0 56px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 38px 35px 47px;
    &__text {
      margin-top: 8px;
    }
    .networks {
      margin-top: 26px;
    }
    .text--padding {
      margin-top: 25px;
    }
  }
}
