.header {
  width: 100%;
  max-width: 1170px;
  padding: 0 178px;
  position: relative;
}

.nav {
  .list {
    width: 100%;
    @include flex(row, space-between, center);
    &__item {
      .link {
        width: 100%;
        font-weight: 400;
        color: $main-text-color;
        text-transform: uppercase;
        padding: 17px 0;
        line-height: 22px;
        font-size: $s-font-size;
      }
      .link:hover {
        color: $nav-hover-color;
      }
    }
  }
}

.button-menu {
  position: absolute;
  width: 44px;
  height: 37px;
  background-color: #000000;
  bottom: 0;
  right: 28px;
  padding: 13.5px 0;
  display: none;
  cursor: pointer;
  &__line {
    width: 17px;
    border-top: 2px solid #fefefe;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 23px 28px 0 25px;
  }
  .nav {
    position: absolute;
    top: 23px;
    right: 28px;
    width: 182px;
    background-color: #f5f5f5;
    display: none;
    .list {
      padding: 0;
      @include flex(column, flex-start, flex-start);
      &__item {
        width: 100%;
        .link {
          width: 100%;
          display: block;
          padding: 4.5px 0 4.5px 13px;
        }
      }
      &__item:hover {
        background-color: #e5e5e5;
      }
    }
  }
  .button-menu {
    @include flex(column, space-between, center);
  }
}

.show {
  display: block;
}
