.instagram {
  background-color: rgba(0, 0, 0, 0.03);
  width: 100%;
  @include flex(column, flex-start, center);
  padding: 47px 0 49px;
  .title-wrapper {
    width: 100%;
    max-width: 1170px;
    @include flex(row, space-between, center);
    .instagram__link {
      line-height: 22px;
      font-size: $m-font-size;
      text-transform: uppercase;
      color: $main-text-color;
    }
  }
  &__images {
    width: 100%;
    max-width: 1170px;
    margin-top: 24px;
    @include flex(row, space-between, center);
    gap: 10px;
    .image-wrapper {
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1199px) {
  .instagram {
    padding: 47px 92px 50px 80px;
    &__images {
      margin-top: 35px;
      .image-wrapper {
        &:last-child {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .instagram {
    padding: 38px 47px 42px 25px;
    .title {
      font-size: $l-font-size;
    }
    &__link {
      display: none;
    }
    &__images {
      margin-top: 13px;
      justify-content: center;
      .image-wrapper:not(:first-child) {
        display: none;
      }
    }
  }
}
