@mixin font-family ($weight){
  font-family: Roboto;
  font-weight: $weight;
  font-style: normal;
}

@mixin flex ($diraction, $justify, $align){
  display: flex;
  flex-direction: $diraction;
  justify-content: $justify;
  align-items: $align;
}