.posts {
  padding: 69px 0;
  width: 100%;
  max-width: 1170px;
  .grid {
    width: 100%;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    column-gap: 55px;
    &__item {
      @include flex(row, space-between, flex-start);
      gap: 21px;
      .description {
        &__title {
          line-height: 30px;
          text-transform: none;
        }
        &__link {
          margin-top: 1px;
          font-weight: 400;
          font-size: $m-font-size;
          color: $subtitle-color;
          line-height: 20px;
        }
        &__text {
          margin-top: 13px;
          font-weight: 400;
          font-size: $l-font-size;
          line-height: 26px;
          color: $text-color;
        }
      }
    }
  }
}

.title {
  // width: 100%;
  // text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: $main-text-color;
  font-size: $xl-font-size;
  line-height: 22px;
}

@media (max-width: 1199px) {
  .posts {
    padding: 59px 275px 60px 80px;
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .posts {
    padding: 42px 116px 43px 25px;
    .title {
      font-size: $l-font-size;
    }
    .grid {
      &__item {
        @include flex(column, flex-start, flex-start);
        gap: 11px;
        .description {
          &__text {
            display: none;
          }
          &__title {
            font-size: $l-font-size;
          }
          &__link {
            font-size: $s-font-size;
          }
        }
      }
    }
  }
}
