@import "reset";
@import "fonts";
@import "variables";
@import "mixin";
@import "header";
@import "poster";
@import "posts";
@import "instagram";
@import "footer";

.container {
  @include font-family(700);
  @include flex(column, flex-start, center);
  width: 100%;
  padding-top: 29px;
  .main {
    width: 100%;
    @include flex(column, flex-start, center);
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 23px;
  }
}
