$s-font-size: 11px;
$m-font-size: 12px;
$l-font-size: 14px;
$xl-font-size: 16px;

$main-text-color: #4e4e4e;
$subtitle-color: #7c7c7c;
$text-color: #5c5c5c;
$footer-text-color: #b9b9b9;
$footer-title-color: #fefefe;
$nav-hover-color: #57a4a4;
